<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="appUserEast">
      <h2 data-cy="appUserEastDetailsHeading"><span>App User East</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ appUserEast.id }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ appUserEast.email }}</span>
        </dd>
        <dt><span>Balance</span></dt>
        <dd>
          <span>{{ appUserEast.balance }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ appUserEast.lastName }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ appUserEast.firstName }}</span>
        </dd>
        <dt><span>User Type Id</span></dt>
        <dd>
          <span>{{ appUserEast.userTypeId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/app-user-east', appUserEast.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
